<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        }

        td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        }

        tr:nth-child(even) {
        background-color: #dddddd;
        }
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

       

        button:hover {
            opacity: 0.8;
        }

     
        h2 {
            margin-left: 5px;
            margin-top: 90px;

        }

        /* Change styles for span and cancel button on extra small screens */
        @media screen and (max-width: 300px) {
            span.psw {
                display: block;
                float: none;

            }
        }
    </style>
</head>
<body>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://www.w3schools.com/lib/w3.js"></script>
<style type="text/css">
        table{
        border: 2px solid;
    border-radius: 5px; 
    border-collapse:collapse;
    
}
table td{
border:1px solid;
}
</style>
<form action='/admin' method="POST" enctype="multipart/form-data">  
    select a house: <input type="text" name="house" >    
    Select a file: <input type="file" name="myFile"> <button type="submit">Upload</button>        
</form>
<form action='/admin' method="POST" >
    select a house: <input type="text" name="house" >    
    Select a date(dd-mm-yyyy): <input type="text" name="date">  
    add consumption: <input type="number" name="consumption" >    
    <button type="submit">Upload</button> 
</form>
<div style="overflow-x:auto,  width:1000px; height: 100px;">
	<p>Click the table headers to sort the  table accordingly:</p>
	<table id="myTable" cellpadding="5" cellspacing="5"  style="height:50%;">
        <tr>
        <th onclick="w3.sortHTML('#myTable', '.item', 'td:{{@key}}')" style="cursor:pointer">Foyer</th>
        {{this}}
        {{#each c.A}}
        <th onclick="w3.sortHTML('#myTable', '.item', 'td:{{this}}')" style="cursor:pointer">
            {{@key}}
        </th>
        {{/each}}

        {{#each c}}
            <tr>
                <td>{{@key}}</td>
                {{#each this}}
                    <td>{{this}}</td>
                {{/each}}
            </tr>
        {{/each}}
        </tr>
	</table>
</div>



    
</body>
</html>