<!DOCTYPE HTML>
<html>

<head>
    <style type="text/css">
        .tab {
            display: block;
            margin-top: 60px auto;
        }
        .container {
            padding: 16px;
            align-content: center;
            width: 30%;
            display: block;
            margin: 3px auto;
            margin-top: 175px;
            margin-top: -25px;
        }
        .btn-group button {
            background-color: #4CAF50;
            border: 1px solid green;
            color: white;
            align-self: center;
            padding: 10px 24px;
            cursor: pointer;
            width: 20%;
            display: block;
        }

        .btn-group {
            color: white;
            top: 140%;
            left: 15%;
            width: 70%;
            display: block;
        }

        .btn-group button:not(:last-child) {
            border-bottom: none;
        }

        .btn-group button:hover {
            background-color: #3e8e41;
        }

        table {
            border: 2px solid;
            border-radius: 5px;
            border-collapse: collapse;

        }

        table th {
            border: 1px solid;
        }

        table td {
            border: 1px solid;
        }
    </style>
</head>

<body>
    <div class="btn-group">
        
    </div>
    <form action='/logout' method="GET" >
        <button type="submit"  class="button" style="float: right;">Logout </button>
    </form>
    <div style="width: 30%; display:inline-block">
        <b>User name:</b> {{info.username}} <br>
        <b>Foyer:</b> {{info.foyer}} <br>
        <b>Type Of House:</b> {{info.House.type}} <br>
        <b>Surface:</b> {{info.house.surface}} <br>
        <b>Pieces:</b> {{info.house.pieces}}
    </div>

    <div style="width: 30%; display:inline-block">
        <b>Chauffage:</b> {{info.house.Chauffage}} <br>
        <b>Year Of Construction:</b> {{info.house.annee-de-construction}} <br>
        <b>House number:</b> {{info.house.no-de-voie}} <br>
        <b>Street:</b> {{info.house.voie}} <br>
        <b>Pincode:</b> {{info.house.code-postal}}
    </div>

    <div style="width: 30%; display:inline-block">
        <b>City:</b> {{info.house.ville}} <br>
        <b>Owner's first name:</b> {{info.owner.prenom}} <br>
        <b>Owner's last name:</b> {{info.owner.nom}} <br>
        <b>Renter's first name:</b> {{info.owner.prenom}} <br>
        <b>Renter's last name:</b> {{info.owner.nom}}
    </div>

    <div class="btn-group">
        <br>
        <form action='/file' method="GET" >
            <button type="submit" >Download</button><br>
        </form>
    </div>

    <canvas id="buyers" width="1000" height="400"></canvas>

    <h2>Consumption of electricity in table form</h2>

    <h2>Sort Tables</h2>
    <div style="overflow-x:auto,  width:1000px; height: 100px;">
        <p>Click the table headers to sort the table accordingly:</p>

        <table id="myTable" cellpadding="5" cellspacing="5" style="height:100%;">
            <tr>
                <th onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(1)')" style="cursor:pointer">Date</th>
                <th onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(2)')" style="cursor:pointer">Electricity
                    consumed</th>
            </tr>
            {{#each info.consumption}}
            <tr class="item" width="100">
                <td style="text-align:center">{{@key}}</td>
                <td>{{this}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
    <script type="text/javascript">
        function stringToDate(_date, _format, _delimiter) {
            var formatLowerCase = _format.toLowerCase();
            var formatItems = formatLowerCase.split(_delimiter);
            var dateItems = _date.split(_delimiter);
            var monthIndex = formatItems.indexOf("mm");
            var dayIndex = formatItems.indexOf("dd");
            var yearIndex = formatItems.indexOf("yyyy");
            var month = parseInt(dateItems[monthIndex]);
            month -= 1;
            var formatedDate = new Date(dateItems[yearIndex], month, dateItems[dayIndex]);
            return formatedDate;
        }
        var info = {{{ json info }}};

        var dates = [];
        var values = [];

        for (var key in info.consumption) {
            dates.push(key);
            values.push(info.consumption[key])
        }

        var buyerData = {
            labels: dates,
            datasets: [
                {
                    fillColor: "rgba(172,194,132,0.4)",
                    strokeColor: "#ACC26D",
                    pointColor: "#fff",
                    pointStrokeColor: "#9DB86D",
                    data: values
                }
            ]
        }
        // get line chart canvas
        var buyers = document.getElementById('buyers').getContext('2d');
        // draw line chart
        new Chart(buyers).Line(buyerData);


    </script>

</body>

</html>